body {
    background-image: url("images/image.jpeg");
}

.board {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 5px;
}

h1{
    font-family: cursive;
    background-color: violet;
    border: 2px solid black;
    border-radius: 10px;
    width: fit-content;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.box{ 
   background-color: wheat;
   width:150px;
   height:150px;
   margin: 2px;
   border:5px solid;
   border-color: black;
   padding:10px;
   border-radius: 5px;
   box-shadow: 30px 30px 0px rgba(0, 0, 0, 0.7);
}

.box:hover{
    transform: scale(0.98);
    background-color: grey;
    cursor: pointer;
}